* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;


}

:root {
    --gold: #FFD700;
    --blue: #00285f;
    --gray: #ededed;

    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
}

header {
    width: 100%;
    height: 500px;
    background: var(--gold);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;


}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.brand {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;

}

nav ul {
    display: flex;
    flex-direction: row;

}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;

}

nav ul li a {
    color: var(--blue);
    text-decoration:none;

}

nav ul li a:hover {
    color: #ff1605;
}

nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 30px;
    color: var(--blue);
    font-weight: bold;
    border-radius: 4px;
}

nav ul button:hover{
    transition: background, color 0.6s;
    background: var(--blue);
    color: #ededed;
    
}

.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: var(--blue);
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0,0.5) ;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0,0.5) ;
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0,0.5) ;

    position: relative;
    z-index: 10;
    padding: 10px;
}

.header-block img {
    width: 36%;
    position: absolute;
    right: 1%;
    bottom: 2%;

}

.header-block .text {
    position: absolute;
    bottom: 30%;
    left: 15%;
}






.header-block .text h2{
    color: #ededed;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.5s;

}

.header-block .text p {
    max-width: 280px;
    color: #ededed;
    text-align: left;
    transform: translateX(-20px);
    transition: transform 0.4s;
}

.header-block .text h4 {
    max-width: 280px;
    color: #fa0303;
    text-align: center;
    transform: translateX(-20px);
    transition: transform 0.9s;
}

.header-block .text h3 {
    max-width: 280px;
    color: #ededed;
    text-align: left;
    transform: translateX(-20px);
    transition: transform 0.9s;
}

/* CATALOGO */

section.catalogo {
    width: 100vw;
    padding: 100px;
}

section .filtro {
    width: 980px;
    height: 150px;
    background: var(--gray);
    border-radius: 8px;
    margin: 0 auto;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 4px 0px 0px 4px ;
    text-indent: 10px;


}

.search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: var(--blue);
    color: #ededed;
    cursor: pointer;
    font-size: 1.1em ;
    transition: 0.3s ease;


}


.search-button:hover {
    background: #aaaaaa;
    color: #00285f;

    
}

.title-wrapper-catalogo {
    margin-top: 200px;
    padding-bottom: 20px;

}


section .card-wrapper {
    max-width: 1000px;;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    grid-gap: 30px;
    padding-top: 50px;
}



section .card-item {
    height: 350px;
    background: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
    cursor: pointer;
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*.card-item img {
width: 85%;

}*/

.card-item h4 {
    width: 90%;
}

.card-item p {
width: 90%;
font-style: italic;
color: #00000075;
}


.card-item  button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: var(--blue);
    border-radius: 4px;
    color: white;
    font-weight:bold;
     font-size: 1.1em;
     cursor: pointer;
     transition: 0.2s ease;
     margin-bottom: 10px;
}

.card-item a button {
    width: 300px;
    padding: 15px 0px;
    border: none;
    background: var(--blue);
    border-radius: 4px;
    color: white;
    font-weight:bold;
     font-size: 1.1em;
     cursor: pointer;
     transition: 0.2s ease;
     margin-bottom: 10px;
}



.card-item button:hover {
    background: #4cc53d;
    color: var(--blue);
}

/* Sobre*/

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 50px 10px;

}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #dededeb3;
    margin: 0 auto;
    border-radius: 8px;
   /* z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    */

}

/*
.left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #000000a1;
    border-radius: 8px;

}
*/

/* Footer*/

footer {
    width: 100%;
    height: 250px;

}

footer .main {
    width: 100%;
    height: 200px;
    background: var(--gold);
    padding: 20px 10px;

}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-self: space-between;
    margin-top: 20px;
}

.footer-company,
.footer-rental, 
.footer-contact, 
.footer-social {

    color: rgb(0, 0, 0);
    height: 100%;
    min-height: 100px;

}

.footer-contact{
   position: absolute;
   right: 150px;
}

.footer-social {
    position: absolute;
    right: 500px;
    
}

.footer-rental {
    position: absolute;
    right: 900px;
}

.footer-links h4 {
    margin-bottom:10px ;
    
}

.footer-links h6 {
    margin-bottom: 8px;

}

.main  .footer-social img {
    width: 32px;
    height: 32px;
} 

